html
	head
		meta(charset="UTF-8")
		title="Jquery IV,V,VI"
		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body
		header="Jquery IV,V,VI"
		main
			a(href="practica1.html")=" practica 1"
			a(href="practica2.html")=" practica 2"
			a(href="practica3.html")=" practica 3"
			a(href="practica4.html")=" practica 4"
			a(href="practica5.html")=" practica 5"
			a(href="practica6.html")=" practica 6"
			a(href="practica7.html")=" practica 7"
